<!-- _includes/footer.html -->
<footer>
  <ul class="social-links">
    {% for link in site.social %}
      <li>
        <a href="{{ link.url }}" title="{{ link.title }}" target="_blank" rel="noopener">
          {% if link.icon contains "fa-" %}
            <i class="{{ link.icon }}"></i>
          {% else %}
            {{ link.icon }}
          {% endif %}
          <span class="sr-only">{{ link.title }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
  <div>© {{ site.time | date: "%Y" }}</div>
</footer>
