<!-- expects include.item -->
{% assign sorted_posts = site.posts | sort: "order" %}
{% assign index_post   = sorted_posts[0] %}
{% assign rest_posts    = sorted_posts | slice: 1, sorted_posts.size %}

<li class="collapsible-section">
  <button
    class="collapsible-toggle"
    aria-expanded="false"
    data-key="blog-posts"
    data-index-url="{{ index_post.url | relative_url }}"
  >
    {{ include.item.title }}
  </button>
  <ul class="collapsible-content">
    <li class="folder-group">
      <ul>
        {% for post in rest_posts %}
          <li>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</li>
